*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #656c6d;

}
.bg-primary{
    background-color: #307b86 !important;
}
.intro-section, .intro-section .section-sub-heading{
    /* flex-direction: column;
    flex-flow: column; */
    display: block !important;
    text-align: center;
}

.section-sub-heading{
    padding : 1rem 0rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #307b86;
}

.primary-text{
    color: #01100eba;
    margin-top: 1rem;
}
.link-text{
    color: white !important;
    text-transform: capitalize;
}
.mb-20{
    margin-bottom: 1.2rem;
}
.main-container{
    /* background-image:url('assets/background.jpeg'); */
    background-color: whitesmoke;
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-position: center;
}

.headerContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #307b86;
    /* padding: 1rem; */
    position: fixed;
    top: 0;
    z-index: 5;
    /* margin-bottom: 5px; */
}
.header-image{
    background-image: url('teal_stone.jpeg');
    height: 25rem;
    /* background: no-repeat; */
    background-position: center;
    display: flex;
    align-items: center;
    /* justify-content: ; */
    background-size: cover;
}
.header-content-container{
    color: white;
    font-size: 30px;
    margin: 0rem 10rem;
    font-weight: 700;
}
.header-content{
    color: white;
    margin: 0rem 10rem;
    display: block;
}
.body-container{
    /* margin-top : 5.2rem; */
    /* padding: 10px; */
}
.profile-image{
    border-radius: 50%;
    max-height: 17rem;
    border: .6rem solid white;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.19);
}

.profile{
    padding: 0rem 4rem;
    text-align: center;
    margin: auto;
    /* max-width: 25%; */
}
.profile-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.personal-projects{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

section{
    padding: 2rem;
    display: flex !important;
    background-color: white !important;
    border-radius: .45rem!important;
    margin: .75rem;
}

.profile-img{
    padding-bottom: 1rem;
    margin-bottom: .5rem;
}

.profile-img-desc .name{
    text-transform: capitalize;
    font-weight: bold !important;
    color: #307b86 !important;
    font-size: 1.4rem;
}
.duration{
    color: #307b86a1;
    font-style: italic;
    font-size: .90rem;
}
.company-name{
    font-weight: 700;
}
.contact-details{
    white-space: nowrap;
}

.section-header{
    /* padding-right: 3rem; */
    border-right: .07rem solid #307b86;
    min-width: 12rem;
    margin: auto 0px;
    max-width: 12rem;
    /* margin: auto; */
}

.section-content{
    padding-left: 3rem;
    margin: auto 0px;
}
i{
    color: white;
}
.logo-box{
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 1rem;
}
.logo{
    border-radius: 50%;
    border: 0.4rem solid #307b8666;
    padding: .75rem;
    font-size: 3rem;
    color: #01100e99;
    cursor: pointer;
}
a.logo:hover{
    background-color: #307b86;
    color: white !important;
    border: 0.4rem solid #307b86;
}
a.logo > i{
    color:  #01100e99;
}
.section-header > i {
    color: #01100e99;
}
a.logo:hover > i{
    /* background-color: #307b86; */
    color: white !important;
    /* border: 0.4rem solid #307b86; */
}
.mb-20{
    margin-bottom: 1rem;
}
.flex-col-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flex-row-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.tags{
    text-transform: capitalize;
    padding: 0.5rem;
    border: 0.1rem solid #307b86;
    border-radius: 10px;
    margin: .25rem;
    display: inline-table;
}
.logo-with-label{
    display: flex;
    flex-direction: column ;
    text-align: center;
    max-width: 20rem;
    min-width: 15rem;
    margin-bottom: 1rem;
}
.logo-container{
    margin-bottom : 1rem;
}
.square{
    border-radius: .5rem;
    /* width: 10rem; */
    /* height: 10rem; */
    /* font-size: 5rem; */
    padding: 2rem 2rem;
    display: inline-table;
}
.inverse{
    background-color: #307b86;
    color: white;
    border: 0.4rem solid #307b86;
}
a.inverse:hover{
    border: 0.4rem solid #307b8666;
    color: #01100e99;
    background-color: white;
}
.col-header{
    text-align: center;
    font-size: 2rem;
}
.logo-label-desc{
    border: 1px solid #6c757d38;
    border-radius: 3rem;
    overflow: hidden;
    margin: 1.5rem;
    max-width: 20rem;
    min-width: 15rem;
    background-color: whitesmoke;
    /* padding: 1rem; */
}
.logo-img{
    /* border: 0.4rem solid #307b8666; */
    /* padding: .75rem; */
    text-decoration: none;
    font-size: 3rem;
    color: #01100e99;
    cursor: pointer;
    /* border-radius: .5rem; */
    width: 100%;
    /* height: 10rem; */
    font-size: 5rem;
    /* padding: 2rem 5rem; */
    display: inline-table;
    text-align: center;
}
a.logo-img:hover{
    opacity: 0.5;
}
.logo-label{
    padding: 1rem;
    font-weight: 700;
    text-align: center;
}
a:hover{
    opacity: 0.8;
}
.logo-desc{
    padding: 1rem;
    text-align: center;
}
.img-padding{
    padding: 2rem 5rem;
}
.logo-img img{
    width: 100%;
    height: 10rem;
}
.secondary-border{
    border: 0.1rem solid gray;
}
.custom-list {
    list-style: none; /* Remove default bullets */
  }
  
.custom-list li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #307b86; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }
  .section-col{
      display: flex;
      flex-direction: column;
  }
  .section-col .section-content{
      margin-bottom: 2rem;
  }

  .footerContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #307b86;
    padding: 0.5rem;
    color: white;
    /* margin-bottom: 5px; */
}
.contact-item{
    color: white;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
}
.navbar-toggler-icon{
    color: white;
}

div.body-container > section:nth-of-type(even) {
    border: medium solid #307b86;
    /* background-color: grey !important; */
}


@media only screen and (max-width: 600px) {
    .profile {
        padding: 0px;
    }
    .intro-section, .intro-section .section-sub-heading{
      flex-direction: column;
      flex-flow: column;
      text-align: center;
    }
    .content-section,  .footerContainer .d-flex, .logo-box {
        flex-direction: column;
    }
    .content-section .section-header {
        border: none;
    }
    .section-content {
        padding-left: 0;
    }
    /* .headerContainer {
        visibility: hidden;
    }
    #header:hover{
        visibility: visible;
    } */
  }