$pink : #b24c78;
$dark-brown : #3b3351;
$teal : #118a78;
$purple : #b68dcc;
$teal-text : #01100eba;
$teal-date : #118a78a1;
$light-green: #76bb0a;
$aqua: #307b86;
$theme-colors: (
  "primary": #118a78,
  "danger": #ff4136
);